.header {
  background-color: #0B2545;
  color: #EEF4ED;
  display: flex;
  justify-content: space-between;
}

.headerIzq {
  display: flex;
  position: absolute;
  left: 150px;
  top: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
}

.headerDer {
  display: flex;
  position: absolute;
  right: 30px;
  top: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
}

.headerIzq div {
  margin-right: 40px;

}

.headerCen {
  margin: 20px;
  margin-right: 240px;
}