
.container {
  background-color: #0070f3;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 500px;
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #000000;
  border-color: #000000;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}



/*------------PAGINA DE SOPORTE----------------*/

.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.headerIzq{
  display: flex;
  margin: 20px;
}
.headerDer{
  display: flex;
  margin: 20px;
}

.headerDer div{
  margin-right: 40px;
}

.titulos{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-size: 30px;
}

.form{
  background-color: #0070f3;
  width: 100vw;
  height: 100vh;
}

.form label{
  margin: 10px;
  font-size: 20px;
}

.form input{
  margin: 10px;
}

.form select{
  margin: 10px;
}

.form button{
  margin: 10px;
  width: 100px;
}

.form h1{
  margin: 10px;
  font-size: 50px;
}
/*------VISUALIZACION DEL TICKET------*/
.view{
  background-color: #0070f3;
  width: 100vw;
  height: 100vh;
}

.view div{
  margin: 20px;
}

.datosCliente{
  display: flex;
}
.datosCliente div{
  margin: 0px;
  margin-right: 100px;
}

.view h1{
  margin: 20px;
  
}