.productCard{
    background-color: #8DA9C4;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    width: 90%;
    border: #0B2545 0.4px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloCard{
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    margin-right: 30px;

  }

  .fechaLanzamiento{
    font-size: 20px;
  }

  .productCard:hover,
  .productCard:focus,
  .productCard:active {
    color: white;
    border-color: #0B2545;
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
  }