/* FONDO */
.container {
    background-color: #EEF4ED;
    height: 100vh;
}

/* CARGAR DATOS */
.cargarDatos {
    text-align: center;
    background-color: #EEF4ED;
    width: 100vw;
    height: 100vh;
}

.cargarDatos>h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cargarDatos>form {
    display: inline-block;
    text-align: left;
    width: fit-content;
    margin: 20px;
    color: black;
    width: 700px;
    background-color: #8DA9C4;
    padding: 30px;
    border-radius: 20px;
    border: #0B2545 1px solid;
    box-shadow: 0px 0px 5px rgb(82, 82, 82);
}

.cargarDatos * input {
    padding: 5px;
    border-radius: 5px;
}

.cargarDatos>form>h1 {
    text-align: center;
    margin-bottom: 60px;
}

.inputLabel {
    display: inline-block;
    width: 80px;
}

.cargarDatos>form>p>input {
    margin: 10px;
}

.selectInput {
    margin-right: auto;
    margin-left: 0.5rem;
}

.calendarInput {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.containerBotones {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* CARGAR TAREA */

.cargarTarea {
    display: flex;
    justify-content: center;
    background-color: #EEF4ED;
    width: 100vw;
    height: 100vh;
    gap: 10rem;
}

.ingresarInfoTarea {
    height: fit-content;
    width: fit-content;
}

.ingresarInfoTarea * input {
    padding: 5px;
    border-radius: 5px;
}

.selectInput {
    padding: 5px;
    border-radius: 5px;
}

.ingresarInfoTarea>label,
.ingresarInfoTarea label {
    margin: 10px;
}

.smallInputLabel {
    display: inline;
    width: fit-content;
}

.titleLabel {
    text-align: center;
    width: "100%";
}

.holder {
    display: flex;
    align-items: center;
    width: "100%";
    flex-direction: column;
    margin:20px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: fit-content;
    align-items: center;
}

.flexContainer .datePicker {
    width: 100px;
    margin: auto 50px;
}

.containerBotones button {
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    background-color: #EEF4ED;
    border: none
}

.containerBotones button:hover {
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
    background-color: #134074;
}


.ingresarInfoTarea {
    margin: 20px;
    color: black;
    width: 500px;
    background-color: #8DA9C4;
    padding: 30px;
    border-radius: 20px;
    border: #0B2545 1px solid;
    box-shadow: 0px 0px 5px rgb(82, 82, 82);
}

/* CARGAR FALTA */
.flexContainer textarea {
    width: 300px;
    height: 70px;
}

/************************************/

.navbarIzq {
    margin: 30px;

}

.navbarDer {
    margin: 30px;
}

.titulos {
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 30px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 3px;
}

.select {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}