.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}


.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.p {
  margin-left: 10px;
}
.dataItem  {
  margin-left: 10px;
  text-decoration: none;
}

.dataItem a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}