/*------------PAGINA DE SOPORTE----------------*/


.container {
  background-color: #EEF4ED;
  height: 100vh;
  }


  .titulos{
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 30px;
  }

  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 3px;
  }

  .navbarIzq{
    margin:30px;
    
  }

  .navbarDer{
    margin: 30px;
  }

  .navbarDer input{
    margin-right: 40px;
  }

  .navbarDer select{
    margin-right: 40px;
  }

  .navbarDer button{
    margin-right: 10px;
  }

  .contenedorBoton{
    text-align: right;
  }

  .contenedorBoton button{
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
  }