/*------VISUALIZACION DEL TICKET------*/
.header{
    background-color: #0B2545;
    color: #EEF4ED;
    display: flex;
    justify-content: space-between;
  }
  
  .headerIzq{
    display: flex;
    margin: 20px;
  }
  .headerDer{
    display: flex;
    margin: 20px;
  }
  
  .headerDer div{
    margin-right: 40px;
  }
  

.view{
  color: #EEF4ED;
  background-color: #134074;
    width: 100vw;
    height: 100vh;
  }
  
  .view div{
    margin: 20px;
  }
  
  .datosCliente{
    display: flex;
  }
  .datosCliente div{
    margin: 0px;
    margin-right: 100px;
  }
  
  .view h1{
    margin: 20px;
    
}

.form{
  color: #EEF4ED;
  background-color: #134074;
  width: 100vw;
  height: 100vh;

  }
  
  .form label{
    margin: 10px;
    font-size: 20px;
  }
  
  .form input{
    margin: 10px;
  }
  
  .form select{
    margin: 10px;
  }
  
  .form button{
    margin: 10px;
    width: 100px;
  }
  
  .form h1{
    margin: 10px;
    font-size: 50px;
  }

  .camposForm{
    margin: 20px;
  }

  .ticketView{
    padding: 20px;
    background-color: #134074;
    color: #EEF4ED;
    height: 100vh;
  }
  .ticketView div{
    margin-bottom: 20px;
  }

  .botonesView{
    margin-top: 100px;
  }
  .botonesView button{
    margin-right: 50px;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  
    border: none
  }

  .ticketCard{
    background-color: #8DA9C4;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 20px;
  }

  .tituloCard{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .severidadCard{
    font-size: 20px;
  }