/*------VISUALIZACION DEL TICKET------*/

.header{
    background-color: #0B2545;
    color: #EEF4ED;
    display: flex;
    justify-content: space-between;

  }
  
  .headerIzq{
    display: flex;
    margin: 20px;
  }
  .headerDer{
    display: flex;
    margin: 20px;
  }
  
  .headerDer div{
    margin-right: 40px;
  }
  

.view{
  color: #EEF4ED;
  background-color: #134074;
    width: 100vw;
    height: 100vh;

  }
  
  .view div{
    margin: 20px;
  }
  
  .datosCliente{
    display: flex;
  }
  .datosCliente div{
    margin: 0px;
    margin-right: 100px;
  }
  
  .view h1{
    margin: 20px;
    
}

.form{
  color: #EEF4ED;
  background-color: #EEF4ED;
  width: 100vw;
  height: 100vh;

  }
  
  .form label{
    margin: 10px;
    font-size: 20px;
  }
  
  .form input{
    margin: 10px;
  }
  
  .form select{
    margin: 10px;
  }
  
  .form button{
    margin: 10px;
    width: 100px;
  }
  
  .form h1{
    
    font-size: 50px;
  }

  .camposForm{
    margin: 20px;
    color: black;
    width: 500px;
    background-color: #8DA9C4;
    padding: 30px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    border: #0B2545 1px solid;
    box-shadow: 0px 0px 5px rgb(82, 82, 82);



  }

  .ticketView{
    padding: 20px;
    background-color: #EEF4ED;
    color: black;
    height: 100vh;

  }
  .ticketView div{
    margin-bottom: 20px;
  }

  .botonesView{
    margin-top: 100px;
    text-align: center;
  }
  .botonesView button{
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    background-color: #0B2545;
    border: none;
    color: white;
  }

  .botonesView button:hover{  
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
    background-color: #134074;

  }

  .ticketCard{
    background-color: #8DA9C4;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    width: 250px;
    border: #0B2545 0.4px solid;


  }

  .tituloCard{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;

  }

  .severidadCard{
    font-size: 20px;
  }


  .ticketCard:hover,
.ticketCard:focus,
.ticketCard:active {
  color: white;
  border-color: #0B2545;
  box-shadow: 0px 0px 10px rgb(82, 82, 82);
}

.camposView{
  background-color: #8DA9C4;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  border: #0B2545 1px solid;
  box-shadow: 0px 0px 5px rgb(82, 82, 82);

}

.descripcionEdit{
  width: 100%;
}