/*------VISUALIZACION DEL TICKET------*/



  .ticketView{
    padding: 20px;
    background-color: #EEF4ED;
    color: black;
    height: 100vh;
    font-size: 18px;

  }

  .botonesView{
    margin-top: 100px;
    text-align: right;
  }
  .botonesView button{
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    background-color: #0B2545;
    border: none;
    color: white;
  }

  .botonesView button:hover{  
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
    background-color: #134074;

  }

 



.camposView{
  background-color: #8DA9C4;
  margin: 20px;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  border: #0B2545 1px solid;
  box-shadow: 0px 0px 5px rgb(82, 82, 82);
  height: 300px;

}



